@font-face {
    font-family: 'Nosifer';
    src: url('/assets/fonts/Nosifer-Regular.ttf') format('truetype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0,16,96);
    background: radial-gradient(circle, rgba(0,16,96,1) 0%, rgba(0,0,0,1) 100%);
}
h1{
    text-align: center;
    font-family: Nosifer;
    color: red;
}
.inventory-table-styles{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    color: white;
}
.inventory-table-styles th, .inventory-table-styles td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;
}
.inventory-table-styles th{
    background-color: #3523b8;
}
.inventory-table-styles tr:hover{
    background-color: black;
}
/* Estilos para el formulario con fondo negro*/
.product-form-styles{
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 1);
}

/*Estilos para las etiquetas y campos de entrada*/

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    color: white;
    background-color: black;
    /*Fondo negro para el input*/
    outline: none;
}
button{
    margin: 2% 2% 2% 2%;
    background-color: #3523b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}